<nav>
    <ul>
        <li><a href="/" title="Home Page">Home</a></li>
        <li><a href="/" title="Custom Vehicle">Custom</a></li>
        <li><a href="/" title="Sedans">Sedan</a></li>
        <li><a href="/" title="SUVs">SUV</a></li>
        <li><a href="/" title="Trucks">Truck</a></li>
    </ul>
</nav>