<h1>Welcome to CSE Motors!</h1>
<section id="hero" class="hero">
    <div id="hero-label">
        <h2>DMC Delorean</h2>
        <p>3 Cup Holders</p>
        <p>Superman Doors</p>
        <p>Fuzzy Dice!</p>
        <a href="/" id="hero-btn">OWN TODAY</a>
    </div>
</section>

<div id="upgrades-reviews">
<section id="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</section>

<section id="upgrades">
    <h2 id="upgrade-title">Delorean Upgrades</h2>
    <div id="upgrade-cards">
    <section id="flux-capacitor" class="upgrade">
        <h3><a href="/" title="flux capacitor">Flux Capacitor</a></h3>
        <img src="../../images/upgrades/flux-cap.png" alt="Flux Capacitor">
    </section>
    <section id="flame-decals" class="upgrade">
        <h3><a href="/" title="flame decals">Flame Decals</a></h3>
        <img src="../../images/upgrades/flame.jpg" alt="Flame Decals">
    </section>
    <section id="bumper-stickers" class="upgrade">
        <h3><a href="/" title="bumper stickers">Bumper Stickers</a></h3>
        <img src="../../images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
    </section>
    <section id="hub-caps" class="upgrade">
        <h3><a href="/" title="hub caps">Hub Caps</a></h3>
        <img src="../../images/upgrades/hub-cap.jpg" alt="Hub Caps">
    </section>
    </div>
</section>
</div>